body {

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Vollkorn' serif;
    color: #333333;

}

button,
input {
    cursor: pointer;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat' sans-serif;
}

h1 {
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 28px;
}

h2 {
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

}

h3 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 38px;
    margin-bottom: 20px;

}

h4 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}



.conteiner {
    max-width: 960px;
    margin: 0 auto;

}

.conteiner-wrapper {
    padding: 0 20px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    padding: 18px 0;
}

header .conteiner-wrapper {
    align-items: center;
    justify-content: space-between;

}

header nav a {
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #404040;
}

header nav {
    gap: 34px;

}

.sec-1 {
    background-image: url(../imj/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 105px 0 100px;
    color: white;
    text-align: center;
    position: relative;

}

.sec-1 p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity: 0.81;
}

.x-icon {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    height: 2px;
    width: 80px;
    background: #FFFFFF;
    margin: 0 auto 25px;
}

.sec-2 {
    padding: 60px 0;
    background: #FEFEC9;
}

.sec-2 p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    margin-bottom: 40px;

}

.btn-main {
    color: #47474F;
    background: transparent;
    border: 1px solid #47474F;
    border-bottom-width: 2px;
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;
}

.sec-3 {
    padding: 79px 0;
    text-align: center;
}

.sec-3 .d-flex {
    gap: 20px;
}

.box-1 {
    max-width: 300px;

}

.bg {
    background-color: #F5F5F5;
}

.box-1 img {
    margin: 50px 87px;

}

.box-2 {
    max-width: 300px;
}

.box-2 img {
    margin: 50px 87px;
}

.box-3 {
    max-width: 300px;
}

.box-3 img {
    margin: 50px 87px;
}

.line-2 {
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    margin: 0 auto 25px;
    margin-bottom: 43px;
}

.sec-3 h2 {
    margin-bottom: 28px;
}


.sec-4 {
    padding: 79px 0;
    background: #F5F5F5;


}

.sec-4 h2 {
    margin-bottom: 28px;
}



.sec-4 p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.sec-4 .d-flex {
    gap: 20px;

}


.text-imj-1 {

    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 115px;
    padding-right: 113.5px;
    text-align: center;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;

}

.text-imj-2 {
    padding-top: 19px;
    padding-bottom: 21px;
    
    
    text-align: center;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.text-imj-3 {
    text-align: center;
    padding-top: 19px;
    padding-left: 105px;
    padding-right: 110px;
    padding-bottom: 21px;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}



.text-imj-4 {
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 115px;
    padding-right: 113.5px;
    text-align: center;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.text-imj-5 {
    text-align: center;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 120px;
    padding-right: 129px;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.text-imj-6 {
    text-align: center;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 120px;
    padding-right: 125px;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}



.text-imj-7 {
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 115px;
    padding-right: 137.5px;
    text-align: center;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.text-imj-8 {
    text-align: center;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 103px;
    padding-right: 111px;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.text-imj-9 {
    text-align: center;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 120px;
    padding-right: 111.5px;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.cec-5 {
    margin-top: 79px;
    margin-bottom: 30px;
}



.line-3 {
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    margin: 0 auto 25px;
    margin-bottom: 43px;
    margin-top: 28px;
}

.sec-5 h4 {
    margin-top: 20px;
}

.sec-5 h2 {
    margin-top: 79px;
}

.sec-5 p {

    text-align: center;
}

.sec-5 .d-flex {
    gap: 20px;
}

.one {
    max-width: 29px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1.56px;
    padding-bottom: 1px;
    background-color: #F5F5F5;
    align-items: center;
}

.icon-1 {
    margin-left: 60px;
    margin-top: 30.56px;
    margin-bottom: 30px;
}

.icon-2 {
    margin-left: 60px;
    margin-top: 30.56px;
}

.icon-3 {
    margin-left: 40px;
    margin-top: 30.56px;
}

.icon-4 {
    margin-left: 60px;
    margin-top: 30.56px;
}

.sec-6 {
    background-color: #F5F5F5;
}

.sec-6 img {
    margin-top: 24px;
    margin-bottom: 10px;
}

h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #ABABAB;
}

.block {
    display: block;
    padding-top: 69px;
    text-align: center;
    padding-bottom: 65px;
}

.line-4 {
    width: 2px;
    height: 215px;
    background: black;
    margin-right: 150px;
}

.sec-6-text1 {
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    margin-right: 134px;
    color: #333333;
    width: 338px;
    margin-bottom: 24px;
}

.sec-6-text2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    width: 309px;
    text-align: center;
    color: #333333;
}

.sec-7 {
    background-image: url(../imj/bg-7.png);
}

.sec-7 h2 {
    padding-top: 79px;

}

.sec-7 h4 {
    padding-bottom: 20px;

}

.p-2 {
    padding-top: 20px;

}

.sec-7 .d-flex {
    gap: -20px;
}

.sec-7 p {
    text-align: center;

}

.box7-1 {
    width: 320px;
    padding-bottom: 90px;
}

.box7-1 img {
    padding: 13px 138px;
}

.box7-2 {
    width: 320px;
}

.box7-2 img {
    padding: 20px 125px;
}

.box7-3 {
    max-width: 320px;
}

.box7-3 img {
    padding: 18px 125px;
}

footer {
    background-color: #000000;
    padding: 69px 0 75px;
}

.footer-1 img {
    align-items: center;
    margin-top: 37.05px;
    margin-bottom: 14px;
}

footer .conteiner {
    max-width: 564px;
}

footer span {
    font-family: 'Vollkorn';
    font-style: normal;

    font-size: 15px;
    line-height: 22px;

    margin: 0 auto;
    color: rgba(255, 255, 255, 0.4);


}

.span-1 {
    text-align: center;


}

input,
textarea {
    font-style: italic;
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 22px;
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    padding: 18px 30px 17px;

}

input::placeholder,
textarea::placeholder {
    color: #FFFFFF;
}

input:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.18);

}

textarea {
    resize: none;
    height: 127px;
    margin-bottom: 20px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form button {

    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #8BCAC3;
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;
    background-color: #000000;
    border: 1px solid #8BCAC3;
    border-bottom-width: 2px;
    padding: 15px 34px 16px;
    max-width: 210px;
    width: 100%;

}

